# JWT Configuration
JWT_SECRET=MiClaveSecretaSuperSegura
JWT_EXPIRATION=86400000

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=TEST-3130995303619357-030114-d1bddafdcf8fa1cb56655dac163ec879-2453292509

# Email Configuration
MAIL_USERNAME=tu-correo@gmail.com
MAIL_PASSWORD=tu-contraseña-app
MAIL_FROM=noreply@ez-platform.com

# Frontend
REACT_APP_API_URL=http://localhost:8080/api

# Database
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=ez_dtabse
MYSQL_USER=ez_user
MYSQL_PASSWORD=ez_password
